@import '~bootstrap/scss/bootstrap';

body{
    // backgroung page
    background-color: rgb(18, 87, 177);
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    // CREATE TASK
    // TaskCreate [line 47 - line 75]
   // align-items: center;
    background-color: rgb(220, 187, 235);
    border: 3px solid rgb(49, 5, 245);
    color: blue;
    display: block;
    font-family: 'Fjord One',
    serif;
    height: 20%;
    justify-content: center;
    overflow:auto;
    border-radius: 10px;
    box-shadow: 5px 05px 5px 0px rgba(195, 4, 243, 0.75);
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.box1{
    // UpdateTask [line 72 - 100]
    align-items: center;
    background-color: rgb(224, 204, 240);
    border: 5px solid rgb(49, 5, 245);
    color: blue;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
    serif;
    height: 20%;
    justify-content: center;
    overflow:auto;
    border-radius: 10px;
    box-shadow: 5px 05px 5px 0px rgba(195, 4, 243, 0.75);
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.box2 {

    // show task [lines 65 - 77]
    align-items: center;
    background-color: rgb(224, 204, 240);
    border: 5px solid rgb(49, 5, 245);
    color: blue;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
        serif;
    height: 20%;
    justify-content: center;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 5px 05px 5px 0px rgba(195, 4, 243, 0.75);
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.card{
    // LIST CARDS
    // IndexTask [line 47]
    background-color: rgb(224, 204, 240);
    color:rgba(38, 7, 243, 0.982);
    border-radius: 10px;
    border-color: rgb(2, 199, 243);
}
// .des-tit{
//     color: #e5e27e;
//     margin: 10px;
// }

h4{
    margin-left: 10px;
    font-style: normal;
    color: purple;
}
h3{
    margin-left: 42%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(34, 1, 34);
    font-style: normal;
}
// h6{
//     margin-left: 25%;
// }
a{
    color: purple; 
    // font-style: italic;
    // font-size: 20px;
    margin-left: 10px;

}
a:hover{
    // IndexTask [homepage]
    color: red;
}
// heading{
//     background-color: blue;
// }
.delBt{
    // In show task [line 74]
    
    margin-left: 25px;
    background-image: url('./images/trash1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    color: blue;
    border-radius: 10%;
    
}
.upBt{
margin-left: 25px;
background-image: url('./images/edit.jpg');
background-repeat: no-repeat;
background-size: 75%;
background-color: white;
color: blue;
border-radius: 10%;
}
.pageTitle{
    // IndexTask [line 59]
    align-items: center;
    background-color: rgb(178, 151, 199);
    border: 5px solid rgb(49, 5, 245);
    color: blue;
    display: block;
    font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif,
    serif;
    height: 20%;
    // justify-content: center;
    // overflow: auto;
    border-radius: 10px;
    box-shadow: 5px 05px 5px 0px rgba(195, 4, 243, 0.75);
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.row{
// show task [lines 65 - 77]
align-items: center;
background-color: rgb(224, 204, 240);
border: 5px solid rgb(49, 5, 245);
color: blue;
display: block;
font-family: 'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif,
serif;
height: 20%;
justify-content: center;
overflow: auto;
border-radius: 10px;
box-shadow: 5px 05px 5px 0px rgba(195, 4, 243, 0.75);
padding-top: 10px;
margin-left: 10px;
margin-top: 20px;
}